@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
:root {
  --nice-purple: #4424a9;
  --nice-white: #faf9ff;
  --cool-gray: #5f5f63;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--nice-white);
  overflow-x: hidden;
  /* display: grid; */
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav-header {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* filter: blur(3px); */
  /* drop-filter:blur(3px) */
}
.app-header {
  background-color: var(--nice-purple);
  color: var(--nice-white);
  position: static;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.nav-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 2;
  background-color: var(--cool-gray);
  color: white;
}
.nav-menu.is-active{
    display: block;
}
.nav-menu li {
  flex-shrink: 1;
  flex-grow: 1;
  line-height: 50px;
  display: flex;
}

.nav-menu li:not(:last-of-type) {
  margin-right: 0.5rem;
}

.nav-menu li a {
  width: 100%;
  text-align: center;
  display: flex;
  font-weight: 700;
  justify-content: center;
}

.nav-menu li a:hover {
  background-color: var(--nice-white);
  color: var(--cool-gray);
}

section {
  scroll-margin-top: calc(87px + 24px);
  min-height: 100vh;
  padding: 0.1px;
}

header {
  outline: 1px solid red;
  padding: 0.1px;
}
h1,
h2,
h2 {
  text-align: center;
  margin: 0;
}

/* Espefic styles */

.hero {
  width: 100%;
}
.about-me-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 1rem; */
}
.motivation {
  padding: 1rem;
}
.about-me-image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  padding: 1rem;
  max-width: 200px;
}
.about-me-name {
  font-size: 4vw;
  /* color: white; */
}
.about-me-image > img {
  border-radius: 50%;
}
.italic{
    font-style: italic;
    /* text-decoration: italic; */
}
/* @media screen and (max-width:765px) {
    .nav-menu li {
        margin-right: .5rem;
        display: none; 
    }
    .about-me-card{
        flex-direction: column;
        padding:0;
    }
    .about-me-name{
        font-size: 2rem;
    }
    .nav-menu li a {
         padding: .7rem 1rem;
         word-break: keep-all;
    }
    
} */

.stack-skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 70px);
  justify-content: center;
  gap: 1rem;
}

.technology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* @media screen and (max-width:400px) {
    
} */



form {
  flex: 1 1 0;
  max-width: 600px;
  margin:0 auto;
}

.form-control {
  max-width: 600px;
}

input,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: block;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  width: 100%;
  resize: none;
  border: 1px solid #d2d2d2;
  color:#4d4c4c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* outline:1px solid #ccc; */
}
textarea {
  height: auto;
  max-height: 200px;
}
input:focus,
textarea:focus {
  outline: none;
}
.form-control {
  margin-bottom: 1rem;
}

.form-control button {
  display: block;
  width: 100%;
  padding: 0 0.5rem;
  line-height: 2.4;
  border: none;
  background: transparent;
  /* outline:1px solid black; */
  background-color: var(--nice-purple);
  color: var(--nice-white);
  height: 2.5rem;
  border-radius: 4px;
  font-weight: 700;
}

.hamburger-container {
  width: 70px;
  height: 70px;
  display: flex;
  z-index:3;
  justify-content: center;
  align-items: center;
  background-color: var(--nice-purple);
  border-radius: 50%;
  padding: 2rem;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.hamburger-inner {
  left: -3px;
}
